name: Hello GitHub

on:
  workflow_dispatch:  # Allows manual triggering

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install uv for SDK
        if: github.event_name == 'workflow_dispatch'
        uses: astral-sh/setup-uv@v6
        with:
            version: latest
      - name: Set up Git
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
          
      - name: Run release script
        run: |
          python3 .github/release sdk --minor
          
      - name: Push release branch
        run: |
          git push origin $(git branch --show-current)