name: Publish release
on:
  workflow_dispatch:  # Allows manual triggering

jobs:
  release:
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
                 
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install uv for SDK
        uses: astral-sh/setup-uv@v6
        with:
            version: latest
      - name: Set up Git
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
          
      - name: Run publish script
        run: |
          python3 .github/release --publish

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      